*{
    margin: 0px;
    padding: 0px;
  }
  .header ul{
    width: 100vw;
    height: 50px;
    margin-bottom: 60px;
    background-color: blueviolet;
    list-style: none;
}
  /* .header ul{
    list-style: none;
  } */
  
.header ul li{
    width: 150px;
    border: 1px solid white;
    height: 50px;
    background-color: blueviolet;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 19px;
    position: relative;
  }

  .gal{
    height: 30vh;
    width: 10vw;
    margin-left: 40px;
    float: left;
  }
  /* .container ul li:hover{
    background-color: blue;
  }
  
  .container ul ul{
    display: none;
  }
  .container ul li:hover > ul{
    display: block;
  }
  .container ul ul ul{
    margin-left: 150px;
    top: 0px;
    position: absolute;
  } */