*{
    margin: 0px;
    padding: 0px;
  }
  .header ul{
    width: 100vw;
    height: 50px;
    margin-bottom: 60px;
    background-color: blueviolet;
    list-style: none;
}

  
.header ul li{
    width: 150px;
    border: 1px solid white;
    height: 50px;
    background-color: blueviolet;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 50vh;
    position: relative;
  }

  .gal{
    height: 30vh;
    width: 10vw;
    margin-left: 40px;
    float: left;
  }

  .bl{
    margin: 5vw;
  }

  .footer{
    width: 100vw;
    height: 4vh;
    margin-top: 90vh;
    background-color: blueviolet;
}
  .footer2{
    width: 100vw;
    height: 4vh;
    margin-top: 81vh;
    background-color: blueviolet;
}
